@media screen and (min-width: 320px) and (max-width: 767px){
	.ba-fresh__h2{
		padding-top: 100px;
		font-size: 40px;
	}

	.ba-scroll{
		bottom: 30px;
	}

	.ba-header__menu-link{
		font-size: 12px;
	}
	.ba-second-page .ba-second-page__content{
		margin: 0;
		padding: 15px;
		padding-left: 35px;
		font-size: 12px;
		text-align: center;

	}
	.ba-blog__h2, .ba-contact__h2, .ba-third-page__h2, .ba-subscribe__h2{
		font-size: 40px;
		padding: 20px 0 15px;
		text-align: center;
		margin: 0;
	}
	.ba-blog__button{
		margin: 30px 0;
	}
	.ba-second-page__h2{
		margin: 20px 0 15px;
		font-size: 40px;
	}
	.ba-second-page__container img{
		display: none;
	}
	.ba-gallery__h2{
		padding-top: 20px;
		font-size: 40px;
	}
	.ba-subscribe{
		padding-top: 20px;
		font-size: 40px;
	}
		.ba-subscribe__input{
		max-width: 100%;
	}
	.ba-subscribe__button{
		width: 100%;
		margin-top: 15px;
		margin: 30px 0;
	}
	.ba-fifth-page{
		min-height: 320px;
	}
	.ba-third-page{
		padding: 0 0 40px;
	}
	.ba-flex{
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.ba-flex__service{
		-webkit-order: 2;
		    -ms-order: 2;
		        order: 2;
	}
	.ba-flex__title{
		-webkit-order: 1;
		    -ms-order: 1;
		        order: 1;
	}
	.ba-contact__col{
		padding: 15px 30px;
	}
	    .ba-small-text-center{
        text-align: center;
    }


    /*menu*/

    .ba-header__menu{
		padding-top: 80px;

    	position: fixed;
		z-index: 11;
		top: -100%;
		bottom: 100%;
		right: 0;
		left: 0;
		text-align: center;

	background-color: rgba(0, 0, 0, .85);
	-webkit-transition: all ease .5s;
	   -moz-transition: all ease .5s;
	    -ms-transition: all ease .5s;
	     -o-transition: all ease .5s;
	        transition: all ease .5s;
    }
    .ba-header__menu-item{
    	display: block;
    	padding-left: 0;
    }
    .ba-header__menu-link{
    	font-size: 30px;
    	color: #FFF;

    }
    .ba-header__mobile-overlay{
	position: fixed;
	z-index: 10;
	top: 0;
	height: 72px;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, .9);
	display: none;
}
    .ba-buterbrod{
    	display: inline-block;
    	width: 60px;
		position: fixed;
		z-index: 13;
		height: 32px;
		top: 20px;
		right: 20px;
		background: url(../img/burgerbutton.png) 50% no-repeat;
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;

    }
    .ba-logo{
    	padding-top: 35px;
    }
    .ba-header{
    	padding-top: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 959px){
	.ba-header__menu-link{
		font-size: 14px;
	}
	.ba-second-page__content{
		margin: 40px 0 0;
		padding-right: 15px;
	}
		.ba-second-page__h2{
			margin: 40px 0 35px;
			font-size: 60px;
}
	.ba-gallery__h2{
		padding-top: 40px;
		font-size: 60px;
	}
	.ba-third-page__h2{
		padding-top: 60px;
	}
		.ba-subscribe__button{
		width: 100%;
		margin-top: 15px;
		margin: 30px 0;
	}
	.ba-subscribe__input{
		max-width: 100%;
	}
		.ba-blog__button{
		margin: 30px 0;
	}



}
@media screen and (min-width: 960px) and (max-width: 1199px){
			.ba-second-page__content{
		margin: 90px 0 0;
		padding-right: 15px;
	}
		.ba-second-page__h2{
			margin: 50px 0 35px;
	}
		.ba-third-page__h2{
		padding-top: 60px;
	}
}
